

body{
    margin: 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    
}

h1{
    width: 50%;
    margin: 50px auto 0 auto;    
    font-family: 'Merriweather', sans-serif;
    font-size: 3rem;
    font-style: italic;
    color: #142850;
    line-height: 200%;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin:0;
    color: #27496d;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #b85451;
}
p{
    color: #40514E;
}
hr{
    border: solid 2px;
    border-style: dotted;
    width: 5%;
    border-width: 8px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: #4ba9c0;
}
#top-cloud{
    position:absolute;
    right:200px;
}
#bottom-cloud{
    position: absolute;
    left:200px;
}

.top-container{
    /*background-color:#e1f2fb;*/
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(225,242,251,1) 0%, rgba(0,212,255,1) 64%);
    padding-top: 20px;
    position: relative;
    
}

.middle-container{
    /*background-color: #e1f2fb;*/
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(225,242,251,1) 0%, rgba(0,212,255,1) 64%);
}
.bottom-container{
    background-color: #3e64ff;
    padding: 50px;
}
#myphoto{
    width: 15%;
}
.skill-image{
    width: 80px;
    float: left;
    padding-right: 30px;
}
.skill-image-2{
    width: 80px;
    float: left;
    padding-right: 30px;
}
.my-profile{
    margin: 0 50px;
    text-align: justify;
}
.skill-row{
    width:80%;
    margin:100px auto;
    text-align: left;
    line-height: 1.5;
}
.btn{
    margin-top: 50px;
    background-color: #0789aa;
    color: white;
    font-size: 2.5rem;
    border-radius: 0.8rem;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 2;
}
.myButton {
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    margin-bottom: 30px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
.footer-link{
    color: #b2fcff;
    font-weight: bold;
    margin: 0 15px;
}
#copyright-line{
    color: white;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid darkcyan;
}
.first-column{
    font-weight: bold;
    font-style: italic;
    color: #2a7886;
}
.clear-indent{
    clear: left;
}